<div class = "main-container">
    <div class = "home-link">
        <%= link_to "See all interviews", interviews_path %>
    </div>
    <div class = "edit__form-container">
        <%= render :partial => 'interviews/form' %>
    </div>
<div>